<?xml version="1.0"?>
<configuration>
  <!--<configSections>
    <sectionGroup name="system.web.extensions" type="System.Web.Configuration.SystemWebExtensionsSectionGroup, System.Web.Extensions, Version=1.0.61025.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35">
      <sectionGroup name="scripting" type="System.Web.Configuration.ScriptingSectionGroup, System.Web.Extensions, Version=1.0.61025.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35">
        <section name="scriptResourceHandler" type="System.Web.Configuration.ScriptingScriptResourceHandlerSection, System.Web.Extensions, Version=1.0.61025.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" requirePermission="false" allowDefinition="MachineToApplication"/>
        <sectionGroup name="webServices" type="System.Web.Configuration.ScriptingWebServicesSectionGroup, System.Web.Extensions, Version=1.0.61025.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35">
          <section name="jsonSerialization" type="System.Web.Configuration.ScriptingJsonSerializationSection, System.Web.Extensions, Version=1.0.61025.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" requirePermission="false" allowDefinition="Everywhere"/>
          <section name="profileService" type="System.Web.Configuration.ScriptingProfileServiceSection, System.Web.Extensions, Version=1.0.61025.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" requirePermission="false" allowDefinition="MachineToApplication"/>
          <section name="authenticationService" type="System.Web.Configuration.ScriptingAuthenticationServiceSection, System.Web.Extensions, Version=1.0.61025.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" requirePermission="false" allowDefinition="MachineToApplication"/>
        </sectionGroup>
      </sectionGroup>
    </sectionGroup>
  </configSections>-->
  <appSettings>
    <add key="DefaultConnection" value="OPENgovANAGRAFICA"/>
    <add key="ApplicationKey" value="ENGINE"/>
    <add key="PathImages" value="http://localhost:1208/images/doc_foto/"/>
    <add key="SiteICI" value="OPENgovICI"/>
    <add key="MailSender" value="monica.tarello@isimply.it"/>
    <add key="MailAdministrative" value="monica.tarello@isimply.it"/>
    <add key="MailSendSameTime" value="true"/>
    <add key="UrlPopUpStradario" value="http://opengov.isimply.it/Stradario/PopUpStradario/popupstradario.aspx"/>
    <add key="StileStradario" value="StylesOPENgovTRIBUTI.css"/>
    <add key="PATH_PROSPETTI_EXCEL" value="F:\Sviluppo_Dir_Appoggio\OPENgov\Dati\Prospetti\"/>
    <add key="pathfileconflog4net" value="C:\Dev\PAL\Codice\OPENgov\bin\log4net.xml"/>
  </appSettings>
  <connectionStrings>
    <clear/>
    <!-- PRE CMCG+CMMC 
    <add name="OPENgov" connectionString="User ID=opengov;Initial Catalog=OPENgov_GC;Data Source=10.168.88.145\SQLEXPRESSPRE;Password=opengov"/>
    <add name="OPENgovANAGRAFICA" connectionString="User ID=opengov;Initial Catalog=OPEN_ANAGRAFICA_GC;Data Source=10.168.88.145\SQLEXPRESSPRE;Password=opengov"/>
    <add name="OPENgovTARSU" connectionString="User ID=opengov;Initial Catalog=OPENgovTARSU_GC;Data Source=10.168.88.145\SQLEXPRESSPRE;Password=opengov"/>
    <add name="OPENgovTIA" connectionString="User ID=opengov;Initial Catalog=OPENgovTIA_GC;Data Source=10.168.88.145\SQLEXPRESSPRE;Password=opengov"/>-->
    <!-- PRE RIBES -->
    <add name="OPENgov" connectionString="User ID=opengov;Initial Catalog=OPENgov_TRIBUTI;Data Source=10.168.88.145\SQLEXPRESSPRE;Password=opengov"/>
    <add name="OPENgovANAGRAFICA" connectionString="User ID=opengov;Initial Catalog=OPENgovANAGRAFICA_TRIBUTI;Data Source=10.168.88.145\SQLEXPRESSPRE;Password=opengov"/>
    <add name="OPENgovTARSU" connectionString="User ID=opengov;Initial Catalog=OPENgovTARSU_TRIBUTI;Data Source=10.168.88.145\SQLEXPRESSPRE;Password=opengov"/>
    <add name="OPENgovICI" connectionString="User ID=opengov;Initial Catalog=OPENgovICI_TRIBUTI;Data Source=10.168.88.145\SQLEXPRESSPRE;Password=opengov"/>
    <!-- PRO RIBES 
    <add name="OPENgov" connectionString="User ID=opengov;Initial Catalog=OPENgov_TRIBUTI;Data Source=192.168.14.204;Password=$!0p3ng0v"/>
    <add name="OPENgovANAGRAFICA" connectionString="User ID=opengov;Initial Catalog=OPENgovANAGRAFICA_TRIBUTI;Data Source=192.168.14.204;Password=$!0p3ng0v"/>
    <add name="OPENgovTARSU" connectionString="User ID=opengov;Initial Catalog=OPENgovTARSU_TRIBUTI;Data Source=192.168.14.204;Password=$!0p3ng0v"/>
    <add name="OPENgovICI" connectionString="User ID=opengov;Initial Catalog=OPENgovICI_TRIBUTI;Data Source=192.168.14.204;Password=$!0p3ng0v"/>
    -->
  </connectionStrings>
  <system.web>
    <compilation debug="true">
      <assemblies>
        <!--<add assembly="System.Web.Extensions, Version=1.0.61025.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35"/>-->
        <add assembly="System.Design, Version=2.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A"/>
        <add assembly="System.Windows.Forms, Version=2.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089"/>
      </assemblies>
    </compilation>
    <!--<httpModules>
      <add name="ScriptModule" type="System.Web.Handlers.ScriptModule, System.Web.Extensions, Version=1.0.61025.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35"/>
    </httpModules>-->
    <!--
            The <authentication> section enables configuration 
            of the security authentication mode used by 
            ASP.NET to identify an incoming user. 
        -->
    <authentication mode="Windows"/>
    <!--
            The <customErrors> section enables configuration 
            of what to do if/when an unhandled error occurs 
            during the execution of a request. Specifically, 
            it enables developers to configure html error pages 
            to be displayed in place of a error stack trace.

        <customErrors mode="RemoteOnly" defaultRedirect="GenericErrorPage.htm">
            <error statusCode="403" redirect="NoAccess.htm" />
            <error statusCode="404" redirect="FileNotFound.htm" />
        </customErrors>
        -->
    <!--<pages>
      <controls>
        <add tagPrefix="asp" namespace="System.Web.UI" assembly="System.Web.Extensions, Version=1.0.61025.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35"/>
      </controls>
    </pages>-->
    <pages enableEventValidation="false"/>
  </system.web>
</configuration>