<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <add key="LINGUA_DATE" value="yyyy-MM-dd 00:00:00" />
    <!-- Parametri di configurazione sito -->
    <add key="PATH_APPLICAZIONE" value="/OPENgov" />
    <add key="PATH_IMAGES" value="/OPENGOVGrandCombin/images" />
    <!-- Serve per ricavare il percorso per le applicazioni sotto opengov -->
    <!-- Letti in aspFrameProcServ.aspx -->
    <add key="NOME_SITO" value="/OPENgov" />
    <add key="Ambiente" value="CMGC" />
    <add key="COD_TRIBUTO_ICI" value="8852" />
    <add key="COD_TRIBUTO_TARSU" value="0434" />
    <add key="PATH_OPENGOVI" value="/OPENgovICI" />
    <add key="PATH_OPENGOVT" value="/OPENgovTERRITORIO" />
    <add key="PATH_OPENGOVP" value="/OPENgovPROVVEDIMENTI" />
    <add key="PATH_OPENGOVG" value="" />
    <add key="PATH_OPENGOVA" value="" />
    <add key="PATH_OPENGOVU" value="" />
    <add key="PATH_OPENGOVC" value="" />
    <add key="PATH_OPENGOVTIA" value="/OPENgovTIA" />
    <add key="PATH_OPENGOVTA" value="/OPENgovTARSU" />
    <add key="PATH_OPENGOVTOCO" value="/OPENgovTOCO" />
    <add key="PATH_OPENgovSCUOLA" value="/OPENgovTOCO" />
    <add key="PATH_OPENGOVH2O" value="/OPENgovH2O" />
    <!-- Parametri per titolo applicazione e messaggio benvenuto-->
    <add key="TitoloApplicazione" value="Sviluppo - OPENgov TRIBUTI" />
    <!--  Parametri per l'interfacciamento Ribes Framework e moduli -->
    <!--<add key="ParametroENV" value="OG_GECGrandCombin_PRE_RIBES"></add>-->
    <!--_PRE_RIBES-->
    <add key="ParametroENV" value="OG_TRIBUTI_PRE_RIBES" />
    <add key="ParametroAPPLICATION" value="OPENGOVG" />
    <add key="ParametroUTILITA" value="OPENGOVUTILITA" />
    <add key="CodiceTributo" value="8852" />
    <add key="CodiceEnte" value="1" />
    <add key="UserFramework" value="usrFrm" />
    <add key="ParametroAnagrafica" value="OPENGOVA" />
    <!-- Parametri configurazione Log4Net -->
    <add key="pathfileconflog4net" value="C:\Storage\Sviluppo_Dir_Appoggio\OPENgov\log4net.xml" />
    <!-- inizio INFIT -->
    <add key="RootDocumenti" value="u:\Inetpub\wwwroot\DichiarazioniICI\Importazioni\" />
    <add key="Imex" value="u:\Inetpub\wwwroot\DichiarazioniICI\Imex\bin\Debug\Imex.exe" />
    <add key="Bonifica" value="E:\Siti\OPENgov\DichiarazioniICI\Bonifica\bin\Debug\Bonifica.exe" />
    <add key="ImexServiceAddress" value="tcp://192.168.14.111:6667/Importer" />
    <add key="BonificaServiceAddress" value="tcp://192.168.14.111:54222/Bonifica.rem" />
    <!--  Parametri applicativi -->
    <add key="ContoCorrente" value="123Test" />
    <add key="IntestatarioBollettino" value="Comune di settimo" />
    <add key="ComuneUbicazioneImmobile" value="Comune di settimo" />
    <add key="Tributo" value="8852" />
    <!-- Parametri di identificazione del comune -->
    <add key="Comune" value="Comune di Settimo Torinese" />
    <add key="CodiceComune" value="111" />
    <!-- ID SOTTO APPLICAZIONE -->
    <add key="OPENGOVI" value="OPENGOVI" />
    <add key="OPENGOVT" value="OPENGOVT" />
    <add key="OPENGOVP" value="OPENGOVP" />
    <add key="OPENGOVG" value="OPENGOVG" />
    <add key="OPENGOVA" value="OPENGOVA" />
    <add key="OPENGOVU" value="OPENGOVU" />
    <add key="OPENGOVC" value="OPENGOVC" />
    <add key="OPENGOVTA" value="OPENGOVTA" />
    <add key="OPENGOVTIA" value="OPENGOVTIA" />
    <add key="OPENGOVTOCO" value="OPENGOVTOCO" />
    <add key="OPENGOVSCUOLA" value="OPENGOVSCUOLA" />
    <!-- Parametro per Configurazione Moduli Globale oppure Singola -->
    <add key="GlobalConfig" value="true" />
    <!--<add key="APPLICATIONS_ENABLED" value="OPENGOVA,OPENGOVG,OPENGOVI,OPENGOVTA,OPENGOVP,OPENGOVTIA,OPENGOVTOCO,OPENGOVH2O"/>-->
    <add key="APPLICATIONS_ENABLED" value="AnagEnte,ExternalData,Mail,Dictionary,Ter,Anater,8852,0434,V0434,9000,0453,9253,9999"></add>
    <!-- Parametro di configurazione dell'applicativo per l'utilizzo di anater -->
    <add key="USO_ANATER" value="false" />
    <add key="COD_OPERATORE" value="111" />
    <add key="CONFIGURAZIONE_DICHIARAZIONE" value="false" />
    <!-- Parametri Stradario-->
    <add key="TipoStradario" value="SERVIZIO" />
    <!--***LOCALE***-->
    <add key="StileStradario" value="Styles.css" />
    <add key="UrlPopUpStradario" value="http://localhost/stradario/PopUpStradario/popupstradario.aspx" />
    <add key="UrlPopUpComuni" value="http://localhost/stradario/PopUpEnti/PopUpEnti.aspx" />
    <!--*** direttamente da servizio ***
    <add key="UrlServizioStradario" value="tcp://localhost:10016/StradarioOpengovService.rem"/>-->
    <!--*** da WS ***
    <add key="UrlServizioStradario" value="http://localhost/WSComuniStrade/Stradario.asmx"></add>-->
    <!--***PRODUZIONE GRAND COMBIN***
    <add key="UrlPopUpStradario" value="http://grandcombin.ribesinformatica.it/stradario/PopUpStradario/popupstradario.aspx"></add>
    <add key="UrlServizioStradario" value="http://grandcombin.ribesinformatica.it/WSComuniStrade/Stradario.asmx"></add>
    <add key="StileStradario" value="StylesGrandCombin.css"></add>
    <add key="UrlPopUpComuni" value="http://grandcombin.ribesinformatica.it/stradario/PopUpEnti/PopUpEnti.aspx"></add>-->
    <!--***PREPRODUZIONE OPENgovTRIBUTI***
    <add key="StileStradario" value="StylesOPENgovTRIBUTI.css"></add>
    <add key="UrlPopUpStradario" value="http://demo2.ran.it/Stradario/PopUpStradario/popupstradario.aspx"></add>
    <add key="UrlPopUpComuni" value="http://demo2.ran.it/Stradario/PopUpEnti/PopUpEnti.aspx"></add>
    <add key="UrlServizioStradario" value="http://demo2.ran.it/WSComuniStrade/Stradario.asmx"></add>-->
    <!--***PRODUZIONE OPENgovTRIBUTI***-->
    <!-- Parametri Stradario 
    <add key="StileStradario" value="StylesOPENgovTRIBUTI.css"></add>
    <add key="UrlPopUpStradario" value="http://opengov.isimply.it/Stradario/PopUpStradario/popupstradario.aspx"></add>
    <add key="UrlPopUpComuni" value="http://opengov.isimply.it/Stradario/PopUpEnti/PopUpEnti.aspx"></add>-->
    <!--*** da WS ***
    <add key="UrlServizioStradario" value="http://opengov.isimply.it/WSStradario/Stradario.asmx"></add>-->
    <!-- Parametri Territorio -->
    <add key="NameSistemaTerritorio" value="DECIDITUCOMECHIAMARLO" />
    <add key="UrlPopUpTerritorio" value="http://localhost/OPENgovTERRITORIO/Fabbricati/Gestione Fabbricati/PopUpFabbricato.aspx" />
    <!--Parametri connessione OPENgovTARSU-->
    <add key="DBType" value="SQLClient" />
    
    <!--<add key="NOME_DATABASE_OPENGOV" value="OPENgov_TRIBUTI"></add>
    <add key="NOME_DATABASE_ANAGRAFICA" value="OPENgovANAGRAFICA_TRIBUTI"></add>
    <add key="NOME_DATABASE_PROVVEDIMENTI" value="OPENgovPROVVEDIMENTI_TRIBUTI"></add>
    <add key="NOME_DATABASE_ICI" value="OPENgovICI_TRIBUTI"></add>
    <add key="NOME_DATABASE_TARSU" value="OPENgovTARSU_TRIBUTI"></add>
    <add key="NOME_DATABASE_H20" value="OPENUtenzeGrandCombin"></add>
    <add key="NOME_DATABASE_OSAP" value="OPENgovTOCO_TRIBUTI"></add>-->
    <!--***PRE-PRODUZIONE OPENgovTRIBUTI RIBES***-->
    <add key="connectionStringSQLOPENgov" value="Data Source = 10.168.88.145\SQLEXPRESSPRE;Initial Catalog = OPENgov_TRIBUTI; persist security info=true;password=opengov;User ID=opengov"></add>
    <add key="connectionStringSQLOPENAnagrafica" value="Data Source = 10.168.88.145\SQLEXPRESSPRE;Initial Catalog = OPENgovANAGRAFICA_TRIBUTI; persist security info=true;password=opengov;User ID=opengov" />
    <add key="connectionStringOpenGovICI" value="Data Source = 10.168.88.145\SQLEXPRESSPRE;Initial Catalog =OPENgovICI_TRIBUTI; persist security info=true;password=opengov;User ID=opengov" />
    <add key="connectionStringOpenGovTARSU" value="Data Source = 10.168.88.145\SQLEXPRESSPRE;Initial Catalog = OPENgovTARSU_TRIBUTI; persist security info=true;password=opengov;User ID=opengov"></add>
    <add key="connectionStringOpenGovOSAP" value="Data Source = 10.168.88.145\SQLEXPRESSPRE;Initial Catalog = OPENgovTOCO_TRIBUTI; persist security info=true;password=opengov;User ID=opengov"></add>
    <add key="connectionStringOPENgovPROVVEDIMENTI" value="Data Source = 10.168.88.145\SQLEXPRESSPRE;Initial Catalog = OPENgovPROVVEDIMENTI_TRIBUTI; persist security info=true;password=opengov;User ID=opengov"></add>
    <add key="connectionStringCATASTO" value="Data Source = 10.168.88.145\SQLEXPRESSPRE;Initial Catalog = OPENgovCATASTO_TRIBUTI; persist security info=true;password=opengov;User ID=opengov"></add>
    <add key="connStrSQLANATER" value="Data Source = 10.168.88.145\SQLEXPRESSPRE;Initial Catalog = OPENgovTERRITORIO_TRIBUTI; persist security info=true;password=opengov;User ID=opengov"></add>
    <add key="ConnessioneDBComuniStrade" value="Data Source = 10.168.88.145\SQLEXPRESSPRE;Initial Catalog = OPENgovCOMUNISTRADE_TRIBUTI; persist security info=true;password=opengov;User ID=opengov"></add>
    <!--***PRE-PRODUZIONE GRAND COMBIN RIBES*** 
    <add key="connectionStringSQLOPENgov" value="Data Source = 10.168.88.145\SQLEXPRESSPRE;Initial Catalog = OPENgov_GC; persist security info=true;password=opengov;User ID=opengov"></add>    
    <add key="connectionStringSQLOPENAnagrafica" value="Data Source = 10.168.88.145\SQLEXPRESSPRE;Initial Catalog = OPEN_Anagrafica_GC; persist security info=true;password=opengov;User ID=opengov" />
    <add key="connectionStringOpenGovICI" value="Data Source = 10.168.88.145\SQLEXPRESSPRE;Initial Catalog =OpenGovICI_GC; persist security info=true;password=opengov;User ID=opengov" />
    <add key="connectionStringOpenGovTARSU" value="Data Source = 10.168.88.145\SQLEXPRESSPRE;Initial Catalog = OPENgovTARSU_GC; persist security info=true;password=opengov;User ID=opengov"></add>
    <add key="connectionStringOpenGovTIA" value="Data Source = 10.168.88.145\SQLEXPRESSPRE;Initial Catalog = OPENgovTIA_GC; persist security info=true;password=opengov;User ID=opengov"></add>
    <add key="connectionStringOPENgovH2O" value="Data Source = 10.168.88.145\SQLEXPRESSPRE;Initial Catalog = OPENgovUTENZE_GC; persist security info=true;password=opengov;User ID=opengov"></add>
    <add key="connectionStringOPENgovPROVVEDIMENTI" value="Data Source = 10.168.88.145\SQLEXPRESSPRE;Initial Catalog =OpenGovPROVVEDIMENTI_GC; persist security info=true;password=opengov;User ID=opengov" />
    <add key="connStrSQLANATER" value="Data Source = 10.168.88.145\SQLEXPRESSPRE;Initial Catalog = OpenGOV_GC; persist security info=true;password=opengov;User ID=opengov"></add>-->     
	  <!--***PRE-PRODUZIONE CINQUE REALI SITI***
	  <add key="connectionStringSQLOPENgov" value="Data Source = 10.168.88.145\sqlexpresspre;Initial Catalog = OPENgov_RS; persist security info=true;password=opengov;User ID=opengov;pooling=false;Connection Timeout=0;"></add>		
	  <add key="connectionStringSQLOPENAnagrafica" value="Data Source = 10.168.88.145\sqlexpresspre;Initial Catalog = OPENgovANAGRAFICA_RS; persist security info=true;password=opengov;User ID=opengov;pooling=false;Connection Timeout=0;"/>
	  <add key="connectionStringOpenGovICI" value="Data Source = 10.168.88.145\sqlexpresspre;Initial Catalog =OPENgovICI_RS; persist security info=true;password=opengov;User ID=opengov;pooling=false;Connection Timeout=0;"/>
	  <add key="connectionStringOPENgovPROVVEDIMENTI" value="Data Source = 10.168.88.145\sqlexpresspre;Initial Catalog = OPENgovPROVVEDIMENTI_RS; persist security info=true;password=opengov;User ID=opengov"></add>		
	  <add key="connectionStringOpenGovTARSU" value="Data Source = 10.168.88.145\sqlexpresspre;Initial Catalog = OPENgovTARSU_RS; persist security info=true;password=opengov;User ID=opengov;pooling=false;Connection Timeout=0;"></add>
	  <add key="connectionStringOPENgovH2O" value="Data Source = 10.168.88.145\sqlexpresspre;Initial Catalog = OPENgovH2O_RS; persist security info=true;password=opengov;User ID=opengov"></add>
	  <add key="connectionStringCATASTO" value="Data Source = 10.168.88.145\sqlexpresspre;Initial Catalog = OPENgovCATASTO_RS; persist security info=true;password=opengov;User ID=opengov"></add>
	  <add key="ConnessioneDBComuniStrade" value="Data Source = 10.168.88.145\sqlexpresspre;Initial Catalog = OPENgovCOMUNISTRADE_RS; persist security info=true;password=opengov;User ID=opengov"></add>-->
    <!--***PRODUZIONE OPENgovTRIBUTI RIBES***
    <add key="connectionStringSQLOPENgov" value="Data Source = 192.168.14.204;Initial Catalog = OPENgov_TRIBUTI; persist security info=true;password=$!0p3ng0v;User ID=opengov" />
    <add key="connectionStringSQLOPENAnagrafica" value="Data Source = 192.168.14.204;Initial Catalog = OPENgovANAGRAFICA_TRIBUTI; persist security info=true;password=$!0p3ng0v;User ID=opengov" />
    <add key="connectionStringOpenGovICI" value="Data Source = 192.168.14.204;Initial Catalog =OPENgovICI_TRIBUTI; persist security info=true;password=$!0p3ng0v;User ID=opengov" />
    <add key="connectionStringOpenGovTARSU" value="Data Source = 192.168.14.204;Initial Catalog = OPENgovTARSU_TRIBUTI; persist security info=true;password=$!0p3ng0v;User ID=opengov" />
    <add key="connectionStringOpenGovOSAP" value="Data Source = 192.168.14.204;Initial Catalog = OPENgovTOCO_TRIBUTI; persist security info=true;password=$!0p3ng0v;User ID=opengov" />
    <add key="connectionStringOPENgovPROVVEDIMENTI" value="Data Source = 192.168.14.204;Initial Catalog = OPENgovPROVVEDIMENTI_TRIBUTI; persist security info=true;password=$!0p3ng0v;User ID=opengov" />
    <add key="connectionStringCATASTO" value="Data Source = 192.168.14.204;Initial Catalog = OPENgovCATASTO_TRIBUTI; persist security info=true;password=$!0p3ng0v;User ID=opengov"></add>
    <add key="ConnessioneDBComuniStrade" value="Data Source = 192.168.14.204;Initial Catalog = OPENgovCOMUNISTRADE_TRIBUTI; persist security info=true;password=$!0p3ng0v;User ID=opengov" />
    <add key="connStrSQLANATER" value="Data Source = 192.168.14.204;Initial Catalog = OPENgov_TRIBUTI; persist security info=true;password=$!0p3ng0v;User ID=opengov" />
    <add key="ConnessioneDBComuniStrade" value="Data Source = 192.168.14.204;Initial Catalog = OPENgovCOMUNISTRADE_TRIBUTI; persist security info=true;password=$!0p3ng0v;User ID=opengov"></add>-->    
    <!--***LOCALE***
    <add key="URLanaterLogin" value="tcp://localhost:50210/LoginService.rem" />
    <add key="URLanaterICI" value="tcp://localhost:50210/ICIService.rem" />
    <add key="URLanaterTARSU" value="tcp://localhost:50210/TARSUService.rem" />
    <add key="ImexServiceAddress" value="tcp://localhost:6667/Importer" />
    <add key="BonificaServiceAddress" value="tcp://localhost:54222/Bonifica.rem" />
    <add key="URLestrattoreGEC" value="tcp://localhost:50310/EstrattoreService.rem" />
    <add key="URLServiziFreezer" value="tcp://localhost:50710/COMPLUSFreezer.rem" />
    <add key="URLServizioRuoloTARSU" value="tcp://localhost:51555/RuoloService.rem" />
    <add key="URLServizioRuoloH2O" value="tcp://localhost:50020/MotoreH2O.rem"></add>
    <add key="UrlMotoreTOCO" value="tcp://localhost:50510/OSAPService.rem" />
    <add key="URLServiziLettere" value="http://localhost:51111/COMPLUSElaborazioneLettere.soap" />
    <add key="URLServiziQuestionari" value="http://localhost:51111/COMPLUSElaborazioneQuestionari.soap" />
    <add key="URLServiziElaborazioneAtti" value="http://localhost:51111/COMPLUSElaborazioneAtti.soap" />
    <add key="URLServiziLiquidazioni" value="http://localhost:51111/COMPLUSElaborazioneLiquidazioni.soap" />
    <add key="URLServiziAccertamenti" value="http://localhost:51111/COMPLUSElaborazioneAccertamenti.soap" />
    <add key="URLGestioneConfigurazione" value="http://localhost:51111/COMPLUSGestioneConfigurazione.soap" />
    <add key="URLServiziElaborazioneANCI_CNC" value="http://localhost:51111/ElaborazioneANCI_CNC.soap" />
    <add key="URLServiziRicercheCatasto" value="http://localhost:51111/COMPLUSRicercheCatasto.soap" />
    <add key="URLServiziRuoloCoattivo" value="http://localhost:51111/COMPLUSRuoloCoattivo.soap" />
    <add key="URLElaborazioneDatiStampeICI" value="tcp://localhost:33446/ElaborazioneStampeICI.rem" />
    <add key="ServizioStampe" value="http://localhost:52101/RibesElaborazioneDocumenti.soap" />
    <add key="UrlServizioStradario" value="tcp://localhost:10016/StradarioOpengovService.rem"></add>
    <add key="URLWSOPENae" value="http://localhost:51367/ServiceOPENae.asmx"></add>-->
    <!--***PREPRODUZIONE OPENgovTRIBUTI RIBES***
    <add key="URLanaterLogin" value="tcp://10.168.88.145:50210/LoginService.rem" />
    <add key="URLanaterICI" value="tcp://10.168.88.145:50210/ICIService.rem" />
    <add key="URLanaterTARSU" value="tcp://10.168.88.145:50210/TARSUService.rem" />
    <add key="ImexServiceAddress" value="tcp://10.168.88.145:6667/Importer" />
    <add key="BonificaServiceAddress" value="tcp://10.168.88.145:54222/Bonifica.rem" />
    <add key="URLestrattoreGEC" value="tcp://10.168.88.145:50310/EstrattoreService.rem" />
    <add key="URLServiziFreezer" value="tcp://10.168.88.145:50710/COMPLUSFreezer.rem" />
    <add key="URLServizioRuoloTARSU" value="tcp://10.168.88.145:51555/RuoloService.rem" />
    <add key="URLServizioRuoloH2O" value="tcp://10.168.88.145:50020/MotoreH2O.rem"></add>
    <add key="UrlMotoreTOCO" value="tcp://10.168.88.145:50510/OSAPService.rem" />
    <add key="URLElaborazioneDatiStampeICI" value="tcp://10.168.88.145:33446/ElaborazioneStampeICI.rem" />
    <add key="ServizioStampe" value="http://10.168.88.145:52101/RibesElaborazioneDocumenti.soap" />
    <add key="URLWSOPENae" value="http://opengov.isimply.it/OPENae/ServiceOPENae.asmx" />
    <add key="URLServiziLettere" value="http://10.168.88.145:51111/COMPLUSElaborazioneLettere.soap" />
    <add key="URLServiziQuestionari" value="http://10.168.88.145:51111/COMPLUSElaborazioneQuestionari.soap" />
    <add key="URLServiziElaborazioneAtti" value="http://10.168.88.145:51111/COMPLUSElaborazioneAtti.soap" />
    <add key="URLServiziLiquidazioni" value="http://10.168.88.145:51111/COMPLUSElaborazioneLiquidazioni.soap" />
    <add key="URLServiziAccertamenti" value="http://10.168.88.145:51111/COMPLUSElaborazioneAccertamenti.soap" />
    <add key="URLGestioneConfigurazione" value="http://10.168.88.145:51111/COMPLUSGestioneConfigurazione.soap" />
    <add key="URLServiziElaborazioneANCI_CNC" value="http://10.168.88.145:51111/ElaborazioneANCI_CNC.soap" />
    <add key="URLServiziRicercheCatasto" value="http://10.168.88.145:51111/COMPLUSRicercheCatasto.soap" />
    <add key="URLServiziRuoloCoattivo" value="http://10.168.88.145:51111/COMPLUSRuoloCoattivo.soap" /> 
    <add key="UrlServizioStradario" value="tcp://10.168.88.145:10016/StradarioOpengovService.rem"></add>-->
    <!--***PRODUZIONE OPENgovTRIBUTI RIBES***-->
    <add key="URLanaterLogin" value="tcp://192.168.14.113:50210/LoginService.rem"></add>
    <add key="URLanaterICI" value="tcp://192.168.14.113:50210/ICIService.rem"></add>
    <add key="URLanaterTARSU" value="tcp://192.168.14.113:50210/TARSUService.rem"></add>
    <add key="URLServiziFreezer" value="http://192.168.14.113:50711/COMPLUSFreezer.rem" />
    <add key="URLServizioRuoloTARSU" value="tcp://192.168.14.113:51555/RuoloService.rem"></add>
    <add key="UrlMotoreTOCO" value="tcp://192.168.14.113:50510/OSAPService.rem"></add>
    <add key="URLServiziLettere" value="http://192.168.14.113:51111/COMPLUSElaborazioneLettere.soap" />
    <add key="URLServiziQuestionari" value="http://192.168.14.113:51111/COMPLUSElaborazioneQuestionari.soap" />
    <add key="URLServiziElaborazioneAtti" value="http://192.168.14.113:51111/COMPLUSElaborazioneAtti.soap" />
    <add key="URLServiziLiquidazioni" value="http://192.168.14.113:51111/COMPLUSElaborazioneLiquidazioni.soap" />
    <add key="URLServiziAccertamenti" value="http://192.168.14.113:51111/COMPLUSElaborazioneAccertamenti.soap" />
    <add key="URLGestioneConfigurazione" value="http://192.168.14.113:51111/COMPLUSGestioneConfigurazione.soap" />
    <add key="URLServiziElaborazioneANCI_CNC" value="http://192.168.14.113:51111/ElaborazioneANCI_CNC.soap" />
    <add key="URLServiziRicercheCatasto" value="http://192.168.14.113:51111/COMPLUSRicercheCatasto.soap" />
    <add key="URLServiziRuoloCoattivo" value="http://192.168.14.113:51111/COMPLUSRuoloCoattivo.soap" />
    <!--<add key="URLElaborazioneDatiStampeICI" value="tcp://192.168.14.113:33446/ElaborazioneStampeICI.rem"></add>
    <add key="ServizioStampe" value="http://192.168.14.113:52101/RibesElaborazioneDocumenti.soap"></add>-->
    <add key="URLWSOPENae" value="https://opengov.isimply.it/OPENae/ServiceOPENae.asmx"></add>
    <add key="UrlWSGIS" value="http://gis.oikosweb.com/CATWS/Gismappale.asmx" />
    <add key="UrlWebGIS" value="http://map.portalecomuni.net/mapguide/wgis/ddd.html?Cfg=8a1281ac-5711-473a-919d-2fc2fb6a72c2" />
    <add key="ImexServiceAddress" value="tcp://192.168.14.113:6667/Importer"></add>
    <add key="BonificaServiceAddress" value="tcp://192.168.14.113:54222/Bonifica.rem"></add>
    <add key="URLestrattoreGEC" value="tcp://192.168.14.113:50310/EstrattoreService.rem"></add>
    <!--<add key="UrlServizioStradario" value="tcp://192.168.14.113:10016/StradarioOpengovService.rem"></add>-->

    <!-- Parametri Confronto con Catasto-->
    <!--<add key="sqlAccessCatasto" value="Provider=Microsoft.Jet.OLEDB.4.0;Data Source=u:\\GrandCombin\\ConfrontoCatasto\\utc32.mdb;Persist Security Info=False;"></add>
    <add key="sqlServerCatasto" value="Data Source = 192.168.14.114;Initial Catalog = OpenGovICI_GC; persist security info=true;password=opengov;User ID=opengov" />
    <add key="sqlAccessCatasto" value="Data Source = 192.168.14.114;Initial Catalog=CatastoTF; persist security info=true;password=opengov;User ID=opengov;pooling=false;Connection Timeout=0;" />-->
    <!--Path-->
    <add key="PathMenu" value="C:\Dev\PAL\Codice\OPENgov\Generali\script\" />
    <add key="FILE_ANCI_CNC_LIQUIDAZIONI" value="C:\Storage\Sviluppo_Dir_Appoggio\OPENgov\DATI\FILE_ANCI_CNC\LIQUIDAZIONI\" />
    <add key="FILE_ANCI_CNC_ACCERTAMENTI" value="C:\Storage\Sviluppo_Dir_Appoggio\OPENgov\DATI\FILE_ANCI_CNC\ACCERTAMENTI\" />
    <add key="PathFileEstrattore" value="C:\Storage\Sviluppo_Dir_Appoggio\OPENgov\DATI\FileEstratti\" />
    <add key="PathImportMotoreCatasto" value="C:\Storage\Sviluppo_Dir_Appoggio\OPENgov\DATI\Catasto\DaAcquisire\" />
    <add key="PathRibaltaMotoreCatasto" value="C:\Storage\Sviluppo_Dir_Appoggio\OPENgov\DATI\Catasto\Ribalta\DaAcquisire\" />
    <!--parametri TARSU importazione-->
    <add key="PATH_ACQUISIZIONE" value="C:\Storage\Sviluppo_Dir_Appoggio\OPENgov\DATI\TARSU-Acquisizione\DaAcquisire\" />
    <add key="PATH_SPOSTA_ACQUISIZIONE" value="C:\Storage\Sviluppo_Dir_Appoggio\OPENgov\DATI\TARSU-Acquisizione\Acquisito\" />
    <add key="PATH_SPOSTA_NON_ACQUISITO" value="C:\Storage\Sviluppo_Dir_Appoggio\OPENgov\DATI\TARSU-Acquisizione\Scartato\" />
    <!-- parametri TARSU estrazione 290-->
    <add key="PATH_ESTRAZIONE290" value="C:\Storage\Sviluppo_Dir_Appoggio\OPENgov\DATI\Estrazione_290\" />
    <add key="PATH_POSTEL" value="C:\Storage\Sviluppo_Dir_Appoggio\OPENgov\DATI\Estrazione_290\" />
    <add key="PATH_PROSPETTI_EXCEL" value="C:\Storage\Sviluppo_Dir_Appoggio\OPENgov\DATI\Prospetti\" />
    <!--PATH PER ACQUISIZIONE VERSAMENTI UNIRISCOSSIONE -->
    <add key="PATH_UNIRISCOSSIONE" value="C:\Storage\Sviluppo_Dir_Appoggio\OPENgov\DATI\VersamentiIci-Acquisizione\DaAcquisire\" />
    <!--PATH PERSPOSTARE IL FILE DOPO ACQUISIZIONE (SE A BUON FINE) -->
    <add key="PATH_SPOSTA_UNIRISCOSSIONE" value="C:\Storage\Sviluppo_Dir_Appoggio\OPENgov\DATI\VersamentiIci-Acquisizione\Acquisiti\" />
    <!-- PATH PER ACQUISIZIONE F24 -->
    <add key="PATH_F24" value="C:\Storage\Sviluppo_Dir_Appoggio\OPENgov\DATI\F24\Acquisizione\" />
    <!-- PATH PER FILE ACQUISITI F24 -->
    <add key="PATH_F24_ACQUISITI" value="C:\Storage\Sviluppo_Dir_Appoggio\OPENgov\DATI\F24\Acquisiti\" />
    <!-- PATH PER FILE AGENZIA ENTRATE -->
    <add key="PATH_FILE_AE" value="C:\Storage\Sviluppo_Dir_Appoggio\OPENgov\DATI\" />
    <!-- Parametri servizio stampa -->
    <!--***LOCALE***--><add key="DIRTEMPLATE" value="C:\Storage\Sviluppo_Dir_Appoggio\OPENgov\Stampe\"></add>
    <!--***PRODUZIONE***<add key="DIRTEMPLATE" value="d:\serviziostampe.isimply.it\RibesServizioStampe\"></add>-->
    <add key="DIRTEMPLATEVIRTUAL" value="http://serviziostampe.isimply.it/RibesServizioStampe/"></add>
    <add key="PATH_ZIP" value="C:\Storage\Sviluppo_Dir_Appoggio\OPENgov\DATI\ZIP\" />
    <!-- variabili per l'elaborazione dei documenti-->
    <add key="NDocPerFile" value="1" />
    <!-- DOCUMENTI PER LA RISTAMPA DEI BOLLETTINI E DELLE INFORMATIVE DELL'ICI -->
    <add key="NomeDocumentoLettera" value="lettera.dot" />
    <add key="NomeDocumentoInformativa" value="InformativaICI" />
    <add key="NomeDocumentoBollettino" value="BollettinoICI" />
    <!-- PROVENIENZA VERSAMENTO RIBALTATO -->
    <add key="PROVENIENZA_VERS_RIBALTATO" value="16" />
    <!-- parametri configurazione cancellazione fisica -->
    <add key="CancellazioneFisicaVersamenti" value="true" />
    <!--parametri PAGAMENTI TARSU importazione-->
    <add key="PATH_INACQUISIZIONE_PAG" value="C:\Storage\Sviluppo_Dir_Appoggio\OPENgov\DATI\PAGAMENTI\DaAcquisire\" />
    <add key="PATH_OKACQUISIZIONE_PAG" value="C:\Storage\Sviluppo_Dir_Appoggio\OPENgov\DATI\PAGAMENTI\Acquisiti\" />
    <add key="PATH_KOACQUISIZIONE_PAG" value="C:\Storage\Sviluppo_Dir_Appoggio\OPENgov\DATI\PAGAMENTI\Scartati\" />
    <!-- Parametri modifica dati -->
    <add key="usermod" value="GCADMIN" />
    <add key="MOTIVAZIONE_SANZIONI_VERSAMENTO" value="La condotta da Lei tenuta integra la violazione di omesso o insufficiente versamento, per la quale l'articolo 13, comma 1 Decreto Legislativo 18/12/1997 n. 471 prevede una sanzione amministrativa nella misura del trenta per cento dell'ammontare del versamento non eseguito" />
    <add key="VIEW_PDF_TARSU" value="true" />
    <add key="HTTP_PDF_TARSU" value="http://serviziostampe.ran.it/RibesServizioStampe/Documenti/Provvedimenti/POMARANCE/" />
    <add key="VisualResidenti" value="true" />
    <add key="TransitoPag" value="true" />
    <add key="VisualDOCFA" value="true" />
    <add key="HasPlainAnag" value="true" />
    <add key="HasDummyDich" value="true" />
    <add key="MinutaXStampatore" value="1" />
    <add key="PFPVUniqueRow" value="0" />
    <add key="HasNotifiche0434Ord" value="1"></add>
    <!-- da mettere nel formato yyyy-mm-dd es 2007-07-01 -->
    <add key="DATA_INIZIO_ACCERTAMENTO" value="" />
    <!-- True = Non prende in considerazione il ravvedimento operoso -->
    <!-- False = Prende in considerazione il ravvedimento operoso -->
    <add key="TIPO_VERSAMENTO_FASE2" value="true" />
    <!-- Questa variabile indica se in fase di stampa accertamento TARSU si devono unire gli immobili dichiarati/accertati POMARANCE -->
    <add key="UNISCI_IMMOBILI_ACCERTAMENTI" value="true" />
    <!-- PATH Log per Rientro Immobili da accertamento-->
    <add key="PATH_LOG_IMMOBILI" value="h:\SITI Web locali\OpenGovPomarance\log\Rientro\" />
    <!--parametri ANAGRAFE RESIDENTI importazione-->
    <add key="PATH_ACQ_ANAGRESFTP" value="P:\Ftp Pomarance\" />
    <add key="PATH_ACQ_ANAGRES" value="C:\Storage\Sviluppo_Dir_Appoggio\OPENgov\DATI\ANAGRAFERESIDENTI\DaAcquisire\" />
    <add key="PATH_OKACQ_ANAGRES" value="C:\Storage\Sviluppo_Dir_Appoggio\OPENgov\DATI\ANAGRAFERESIDENTI\Acquisiti\" />
    <add key="PATH_KOACQ_ANAGRES" value="C:\Storage\Sviluppo_Dir_Appoggio\OPENgov\DATI\ANAGRAFERESIDENTI\Scartati\" />
    <add key="PATH_ACQUISIZIONE_LETTURE" value="C:\Storage\Sviluppo_Dir_Appoggio\OPENgov\GrandCombin\Letture\" />
    <add key="PathRepository" value="C:\Storage\Sviluppo_Dir_Appoggio\OPENgov\DATI\" />
    <add key="RepositoryRilasci" value="Rilasci" />
    <add key="RepositoryContratti" value="Contratti" />
    <add key="RepositoryExport" value="EstrazioneBancaDati" />
    <add key="SportelloUser" value="utd@comune" />
  </appSettings>
  <system.web>
    <httpRuntime maxRequestLength="2097151" />
    <pages enableEventValidation="false" />
    <!--  DYNAMIC DEBUG COMPILATION
          Set compilation debug="true" to insert debugging symbols (.pdb information)
          into the compiled page. Because this creates a larger file that executes
          more slowly, you should set this value to true only when debugging and to
          false at all other times. For more information, refer to the documentation about
          debugging ASP.NET files.
    -->
    <compilation defaultLanguage="vb" debug="true" />
    <!--  CUSTOM ERROR MESSAGES
          Set customErrors mode="On" or "RemoteOnly" to enable custom error messages, "Off" to disable. 
          Add <error> tags for each of the errors you want to handle.

          "On" Always display custom (friendly) messages.
          "Off" Always display detailed ASP.NET error information.
          "RemoteOnly" Display custom (friendly) messages only to users not running 
           on the local Web server. This setting is recommended for security purposes, so 
           that you do not display application detail information to remote clients.
    -->
    <customErrors mode="Off" defaultRedirect="PaginaErrore.aspx" />
    <!--  AUTHENTICATION 
          This section sets the authentication policies of the application. Possible modes are "Windows", 
          "Forms", "Passport" and "None"

          "None" No authentication is performed. 
          "Windows" IIS performs authentication (Basic, Digest, or Integrated Windows) according to 
           its settings for the application. Anonymous access must be disabled in IIS. 
          "Forms" You provide a custom form (Web page) for users to enter their credentials, and then 
           you authenticate them in your application. A user credential token is stored in a cookie.
          "Passport" Authentication is performed via a centralized authentication service provided
           by Microsoft that offers a single logon and core profile services for member sites.
    -->
    <authentication mode="Forms">
      <forms requireSSL="true" loginUrl="~/Login/Login" timeout="200" />
    </authentication>
    <!--  AUTHORIZATION 
          This section sets the authorization policies of the application. You can allow or deny access
          to application resources by user or role. Wildcards: "*" mean everyone, "?" means anonymous 
          (unauthenticated) users.
    -->
    <authorization>
      <allow users="*" />
      <!-- Allow all users -->
      <!--  <allow     users="[comma separated list of users]"
                             roles="[comma separated list of roles]"/>
                  <deny      users="[comma separated list of users]"
                             roles="[comma separated list of roles]"/>
            -->
    </authorization>
    <!--  APPLICATION-LEVEL TRACE LOGGING
          Application-level tracing enables trace log output for every page within an application. 
          Set trace enabled="true" to enable application trace logging.  If pageOutput="true", the
          trace information will be displayed at the bottom of each page.  Otherwise, you can view the 
          application trace log by browsing the "trace.axd" page from your web application
          root. 
    -->
    <trace enabled="false" requestLimit="10" pageOutput="false" traceMode="SortByTime" localOnly="true" />
    <!--  SESSION STATE SETTINGS
          By default ASP.NET uses cookies to identify which requests belong to a particular session. 
          If cookies are not available, a session can be tracked by adding a session identifier to the URL. 
          To disable cookies, set sessionState cookieless="true".
    -->
    <sessionState mode="InProc" stateConnectionString="tcpip=127.0.0.1:42424" sqlConnectionString="data source=127.0.0.1;Trusted_Connection=yes" cookieless="false" timeout="200" />
    <!--  GLOBALIZATION
          This section sets the globalization settings of the application. 
    -->
    <globalization requestEncoding="utf-8" responseEncoding="utf-8" culture="it-IT" uiCulture="it-IT" />
    <!--<identity impersonate="false"></identity>-->
    <xhtmlConformance mode="Legacy" />
  </system.web>
  <system.webServer>
    <httpProtocol allowKeepAlive="true">
       <customHeaders>
          <add name="X-Frame-Options" value="sameorigin" />
          <add name="X-Xss-Protection" value="1; mode=block" />
          <add name="X-Content-Type-Options" value="nosniff" />
       </customHeaders>
     </httpProtocol>
    <modules>
      <remove name="FormsAuthentication" />
      <add name="FormsAuthentication" type="System.Web.Security.FormsAuthenticationModule" />
    </modules>
    <staticContent>
      <remove fileExtension=".woff" />
      <remove fileExtension=".woff2" />
      <mimeMap fileExtension=".woff" mimeType="application/x-font-woff" />
      <mimeMap fileExtension=".woff2" mimeType="application/x-font-woff2" />
    </staticContent>
  </system.webServer>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Utility" publicKeyToken="ae1027569650564c" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-1.0.7634.18786" newVersion="1.0.7634.18786" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>